
html { 
	font-family: 'Permanent Marker', cursive;    
  background-image:url("Images/chalk.jpg"); }


body { margin:10% 33%; color:white;}

button{ font-family:'Permanent Marker', cursive; width:65px;  }
.hidden {
	display: none;
}

.top {
	display: inline-block;
}

.js-answer-count {
	margin-left: 30px;
}

.restart{ margin-top:30px; }

input{ margin-bottom:20px; }